:root {
    --color-primary-Dark-cyan: hsl(185, 75%, 39%);
    --color-primary-desaturated-blue: hsl(229, 23%, 23%);
    --color-primary-grayish-blue: hsl(227, 10%, 46%);
    --color-neutral-Dark-gray:hsl(0, 0%, 59%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background-color: var(--color-primary-Dark-cyan);
    background-image: url(/images/bg-pattern-top.svg),url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -700px -600px, 130px 380px;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    padding: 25px;
}

.card{
    height: 375px;
    width: 325px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 0 var(--color-neutral-Dark-gray);
    border-radius: 15px 15px 15px 15px;
}

.card__header{
    height: 140px;
    width: 100%;
    background-image: url(/images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    position: relative;
    border-radius: 15px 15px 0 0;

}

.main__photo{
    width: 105px;
}

.photo{
    border-radius: 50%;
    border: 5px solid #fff;
    position: absolute;
    bottom: 0px;
    transform: translate(100%, 50%);
}

.card__main{
    height: 145px;
    width: 100%;
    background-color: #fff;
    color: var(--color-primary-desaturated-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__name{
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 1em;
}

.main__name span{
    font-weight: lighter;
}


.main__city{
    font-size: 0.8em;
    font-weight: lighter;
}

.card__footer{
    height: 90px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;border-radius: 0 0 15px 15px;
    border-top: 1px solid var(--color-neutral-Dark-gray);
    color: var(--color-primary-desaturated-blue);
    text-align: center;
}

.number__k{
    font-size: 1em;
    margin: 5px 0;
}

.number__title{
    font-size: .5em;
    letter-spacing: 2px;
}

@media (min-width: 800px){
    body{
        background-position: -200px -600px, 650px 320px;
    }
    .card{
        width: 350px;
    }

    .photo{
        transform: translate(110%, 50%);
    }
}